.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid brown;
}

.logo {
  width: 150px;
  padding-left: 20px;
  margin: 10px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  margin: 10px;
}
.nav-items > ul > li {
  padding: 20px;
  font-size: 30px;
  text-wrap: wrap;
}

.restaurant-card {
  width: 200px;
  padding: 5px;
}

.restaurant-card:hover {
  border: 1px solid #557c56;
  cursor: pointer;
}

.image-card {
  width: 100%;
  height: 150px;
}

.restaurant-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.fliter {
  padding: 10px;
  display: flex;
  gap: 10px;
  font-size: 20px;
}

.filter-btn {
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;
}

.shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 10px;
}

.shimmer-card {
  width: 200px;
  height: 300px;
  padding: 5px;
  background-color: #ffe5cf;
}

.shimmer-btn {
  margin: 10px;
  width: 180px;
  height: 30px;
}

.shimmer-image {
  width: 100%;
  height: 150px;
  background-color: #f0f0f0;
}

.btn {
  background-color: #4caf50; /* Green background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 10px 20px; /* Add some padding */
  text-align: center; /* Center the text */
  text-decoration: none; /* Remove underlines */
  display: inline-block; /* Make the button inline */
  font-size: 16px; /* Set font size */
  margin: 5px 2px; /* Add some margin */
  cursor: pointer; /* Add a pointer cursor on hover */
  border-radius: 8px; /* Rounded corners */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}


.no-underline {
  text-decoration: none;
}